.hide {
    display: none;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
/*background*/
a {
    color: inherit;
}
button{
    background: none;
    border: none;
    color: #ffffff;
    font-size: 25px;
    padding: 0;
}

.wrapper {
    background: #F2F2F2;
    font-size: 20px;
    height: 100vh;
    position: relative;
}

/*section(일정 관리, 입력창)*/

section.main {
    border-radius: 8px;
    width: 600px;
    height: 450px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
}

section.main h2 {
    font-size: 35px;
    background: #99B7F9;
    color: #ffffff;
    padding: 33px 30px;
    text-align: center;
}

/*ul todo-list*/
.input{
    background: #829FD9;
    height: 41px;
    text-align: center;
    overflow: hidden;   
}

.input input{
   border: none;
   background: transparent;
   outline-style: none;
   width: 80%;
   color: #ffffff;
   font-size: 20px;
   float: left;
   line-height: 41px;
   margin-left: 5px;
}
.input input::placeholder{
    color: white;
}

.input input.input-error {
    background: red;
    animation: shake 0.5s;
}

@keyframes shake {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-20px); 
    }
    100%{
        transform: translateX(20px);

    }
}

#enter {
    float: right;
    outline-style: none;
    width: 10%;
    height: 41px;
    cursor: pointer;
}



/*todo-list (할 일)*/
ul.todo-list {
    width: 600px;
    height: 300px;
    overflow: auto;
}

ul.todo-list li{
    display: flex;
    margin: 0;
    padding: 25px 0 0 25px;
}

ul.todo-list .text {
    width: 85%;
    font-size: 20px;
    margin-left: 10px;
    border: 0;
}

ul.todo-list .lnr{
    margin-right: 20px;
    margin-left: 20px;
}

/*li */

li span.modify, li span.ok {
    color: green;
    cursor: pointer;
    font-size: 25px;
}

li span.delete, li span.cancel {
    color: red;
    cursor: pointer;
    font-size: 25px;
}

/* 삭제 모션 */
ul.todo-list li.delMoving {
    animation: delMove 1.5s ease-in-out;
}
@keyframes delMove {
    0% {
        background: orange;
        transform: translateX(20px);
    }
    50% {
        background: orangered;
        transform: translateX(-500px);
    } 
    100% {
        background: red;
        transform: translateX(-2000px);
    }
}